apiVersion: apps/v1
kind: Deployment
metadata:
  name: country-service
  namespace: jenkins
  labels:
    app: country-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: country-service
  template:
    metadata:
      labels:
        app: country-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
        prometheus.io/scheme: "http"
    spec:
      containers:
      - name: country-service
        image: oumayma511/country-service:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        - name: SERVER_PORT
          value: "8080"
        - name: MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE
          value: "health,info,metrics,prometheus"
        - name: MANAGEMENT_ENDPOINT_PROMETHEUS_ENABLED
          value: "true"
        - name: MANAGEMENT_ENDPOINT_HEALTH_SHOW-DETAILS
          value: "always"
        - name: MANAGEMENT_SERVER_PORT
          value: "8080"
        - name: LOGGING_LEVEL_COM_DEMO_COUNTRYSERVICE
          value: "DEBUG"
        resources:
          requests:
            memory: "512Mi"  # Augmenté
            cpu: "250m"
          limits:
            memory: "1Gi"    # Augmenté
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 180  # 3 minutes
          periodSeconds: 15
          timeoutSeconds: 10
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 120  # 2 minutes
          periodSeconds: 10
          timeoutSeconds: 8
          failureThreshold: 3
        lifecycle:
          preStop:
            exec:
              command: ["sh", "-c", "sleep 30"]
