apiVersion: v1
kind: Service
metadata:
  name: country-service
  namespace: jenkins
  labels:
    app: country-service
spec:
  type: NodePort
  selector:
    app: country-service
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30008
      name: http
      protocol: TCP
